.aider*
/config/secrets.py
# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment variables
.env

# Ignore build output
build/
dist/
myenv/

# Ignore temporary files
*.log
*.tmp

uploadedFiles/
steramlitapp/streamlitappenv
